:root {
	--bgColor: #080808;
	--txtColor: white;
}

@font-face {
	font-family: 'PT Mono';
	src: url('fonts/PT_Mono/PTMono-Regular.ttf');
}

body 
{
  color: var(--txtColor);
	font-family: 'PT Mono', monospace; 
  background-color: var(--bgColor);
  font-size: 110%;
}

/* styling for collapsible menu */
.collapMenu {
	border: 0px solid grey;
}
.collapMenu li {
	border-bottom: 0px solid grey;
	padding: 10px 5px;
}
.collapMenu li:last-child {
	border: 0;
}

.collapMenu, .collapMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.collapMenu input {
	display:none;
}

.collapHidden {
	display: none;
	transition
}

.collapMenu .collapExpandItem ul {
	display: none;
}

.collapMenu input:checked ~ ul {
	display: block;
}

/*
.collapExpandItem {
	font-size: 105%;
	font-weight: bold;
}

.collapNormalItem {
	font-size: 105%;
	font-weight: bold;
}
*/

.collapExpandLabel {
	color: pink;
	background-color: transparent;
}

.collapExpandItem label:before {
	content: "\0002B";
  transition: all 0.25s;
	display: inline-block;
}

.collapExpandItem input:checked ~ label:before {
	transform: rotate(45deg);
}

.middleDiv
{
  display: table;
  margin: 0 auto;
  text-align: center;
}

/* If the screen size is 601px wide or more, set the width to 100% */
@media screen and (min-width: 801px) {
  .middleDiv {
		width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .middleDiv {
		width: 100%;
  }
}

.middleDivLeft
{
  display: table;
  margin: 0 auto;
  text-align: left;
}

/* If the screen size is 601px wide or more, set the width to 100% */
@media screen and (min-width: 801px) {
  .middleDivLeft {
		width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .middleDivLeft {
		width: 100%;
  }
}

.innerMiddleDivLeft
{
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

a:link 
{
	color: #ff1a8c;
	background-color: transparent;
	text-decoration: underline;
}

a:visited 
{
	color: #b30059;
	background-color: transparent;
	text-decoration: none;
}

a:hover 
{
	color: var(--bgColor);
	background-color: #ff1a8c;
	text-decoration: underline;
}

#imgLink
{
	color: transparent;
	background-color: transparent;
	text-decoration: none;
}

h1 
{
  font-size: 190%;
	padding: 1px;
	margin: 1px;
}

h2 
{
	padding: 1px;
	margin: 1px;
}

h3 
{
	padding: 1px;
	margin: 1px;
}

h4
{
	padding: 1px;
	margin: 1px;
}

h5
{
	padding: 1px;
	margin: 1px;
}

p 
{
	padding: 1px;
	margin: 1px;
}

footer
{
	position: fixed;
	bottom: 0;
	height: 70px;
	margin-top: 40px;	
	left: 50%;
  text-align: center;
}

.footerDiv
{
	position:relative;
	left: -50%;
}

.homeLink
{
  font-size: 110%;
}

.noteMarker
{
	font-size: larger;
}
